*{
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
html{
  height: 100vh;
}
/* users */
.all-users-container{
 display: grid;
 grid-template:"amy tom paul"
 "peter gemma jess";
 height:300px;
 width:50%;
 margin: 0 auto;
 justify-content: center;
 gap: 50px;
 position: relative;
 top:200px
}
.all-users-container > img{
  height:150px;

}
.amy-happy{
  grid-area:amy
}
.tom-tickle{
  grid-area:tom
}
.paul-grump{
  grid-area:paul
}
.peter-messy{
  grid-area:peter
}
.gemma-bump{
  grid-area:gemma
}
.jess-jelly{
  grid-area:jess
}
.welcomeMsg{
  text-align: center;
  font-size: 1.5em;
}
/* Header section */
.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  pointer-events: none;
}

.avatar{
  overflow: hidden;
  background-color: white;
}

header, nav, ol{
  height: auto;
  list-style:  none;
}

ol{
  display: flex;
  justify-content: space-between;
  margin-right: 100px;
  
}

.active{
  background-color: #a8b8d0;
  color: white;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 100%;
  z-index: -1;
}

header{
  position: sticky;
  top: 0;
  width: 100vw;
  height: 100px;
}

header::after{
  content:"";
  position:absolute;
  top:0;
  left:0;
  height: 100%;
  width:100%;
  transform: skewY(-3deg);
  background: #a8b8d0;
  transform-origin: bottom left;
  z-index: 1;
}

nav .title{
  font-size: 1.5rem;
  margin: 1rem;
  font-weight: bold;
  text-decoration: none;
  color: white;
  z-index: 3;
}

nav ul{
  display: flex;
}

nav ol li a{
  display: block;
  color: black;
  text-decoration: none;
  padding: 0.5rem;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
  font-size: 1.2em;
}

nav ol li a:not(.active):hover{
  background-color: #a8b8d0;
  color: white;
  transform: scale(1.1);
  transition: transform .2s;
}

header .menu{
  display: none;
  position: absolute;
  top: 0.75rem;
  right: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
  margin-right: 2%;
}

header .menu span{
  height: 0.4rem;
  width: 100%;
  background-color: white;
  border-radius: 0.2rem;
}

/* article card */

.article-card img{
  width: 100%;
  height: auto;
  border-radius:5px;
  overflow: hidden;
}
.img-card img:hover{
  transform: scale(1.02);
  overflow: hidden;
}

.article-card{
  flex: 1 0 500px;
 display: flex;
 align-items: center;
 flex-direction: column;
 box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
 border-radius: 5px;
 padding: 10px;
 overflow: hidden;
}

.cardcontent{
  display: grid;
  height: 150px;
  gap: 10px;
  grid-template: "title title"
  "topic comments"
  "author votes"
  "created .";
  color:#44494a;
  overflow: hidden;
}
.article-card:hover{
  /* transform: scale(1.1); */
  transition: transform .4s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  opacity: 0.8;
}

.articleCard-title{
  font-size: 1.2em;
  text-align: center;
  grid-area: title;
  margin:10px 0px
}
.articleTopic-title{
  grid-area: topic;
  
}
.articleVotes-title{
  grid-area: votes;
}
.articleComments-title{
  grid-area: comments;
}
.articleAuthor-title{
  grid-area: author;
}
.articeCreatedBy-title{
  grid-template-columns: created;
}
/* Article list */
.article-list{
  display: flex;
  margin: 50px auto;
  width: 90%;
  flex-wrap: wrap;
  gap: 50px;
}
.button-card{
  display: flex;
  gap: 20px;
  width: auto;
}
.button-card > *{
  width: 200px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

.content-card > p{
  font-size: 1.5em;
  color: #0F1A1C;
}

.content-card:visited{
  text-decoration: none;
}

/* all topics */
.all-comments{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  list-style: none;
  margin: 50px;
}
.all-comments > li{
  width: 400px;
  border:none;
  font-size: 30px;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.all-comments > li:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* single article */

.article-title{
  font-size: 2em;
}

.createBy-title{
  font-size: 1em;
  font-style: italic;
  color:#576F76
}

.article-container{
  width: 70%;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.article-container img{
  width: 60%;
  border-radius: 5px;
}
.articleBody{
  width: 50%;
  font-size: 1.2em;
}
.button-container{
  width: 300px;
  display: flex;
  gap:20px;
  background-color: #e7e7e7;
  border-radius: 5px;
  overflow: hidden;
}
.button-container > button{
  height: 30px;
  flex-grow: 1;
  border: none;
  background-color: #e7e7e7;
}
.comment-btn{
  width: 150px;
  border: none;
  padding: 8px 5px;
  border-radius: 5px;
  font-size: 1em;
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;
}
.count-preview{
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  font-size: 1em;
}
.fa-angle-up,.fa-angle-down{
  font-size: 1.5em;
}
.comment-btn button:hover{
  color: white;
  background-color: #a8b8d0;
}
/* form */
#username{
  padding: 5px;
}
.form-container{
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: space-evenly;
  align-items: center;
  gap: 50px;
  width: 600px;
  align-self: center;
}
.form-container > h2{
  color:#0F1A1C;
  font-size: 1.5em;
}
.form-container > form{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.submit-btn{
  border: none;
  padding: 10px 15px;
  background-color: #a8b8d0;
  border-radius: 5px;
  color: white;
  font-size: 1.2em;
}
.submit-btn:hover{
  background-color: #e4effe;
}
.single-comment{
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  padding: 30px 20px;
  border-radius: 5px;
  gap: 20px;
  border-top: 1px solid #e7e7e7;
}
.comment-title-container{
  display: flex;
  gap: 100px;
}
.comment-author{
  font-style: italic;
  color:#576F76
}
.single-comment button{
  width: 100px;
  padding: 10px;
  background: red;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1em;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
}
.single-comment .delete-btn:hover{
  background-color: #a8b8d0;
  color: white;
}

.comment-bodyTxt{
  color:#0F1A1C;
}

.single-comment button:hover{
  background: #ff3636;
}

.created-title{
  color:#576F76;
}

.comment-count-btn:hover{
  transform: scale(1.1);
  background-color: #a8b8d0;
  color:white;
  transition: transform .5s;
}
/* css loading animation */

.lds-roller,
.lds-roller div,
.lds-roller div:after {
  box-sizing: border-box;
}
.lds-roller {
  position: relative;
  width: 400px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7.2px;
  height: 7.2px;
  border-radius: 50%;
  background: currentColor;
  margin: -3.6px 0 0 -3.6px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 62.62742px;
  left: 62.62742px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 67.71281px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 70.90963px;
  left: 48.28221px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 70.90963px;
  left: 31.71779px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 67.71281px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 62.62742px;
  left: 17.37258px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12.28719px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



@media only screen and (max-width:480px) and (min-width: 400px)  {
  .app{
    /* overflow-y: hidden; */
    max-width: 100vw;
  }
  /* loading text */
  .loading-text{
    text-align: center;
  }
  /* header */
  .welcomeOpenMsg{
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 1.5em;
    width: 100%;
    background-color: #457b9d;
    padding: 5px;
  }
  .avatar {
    background-color: transparent;
  }
  .avatar-container{
    display: flex;
    justify-content: center;
  }
  header{
    width:430px;
    z-index: 99;
  }
  header::after{
    display: none;
  }
  nav{
    background-color: #a8b8d0;
  }
  header .menu{
    display: flex;
  }
  nav{
    flex-direction: column;
    align-items: start;
    height: auto;
  }
  .title{
    width: 200px;
  }
  nav ol{
    display: none;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0.25rem;
  }
  nav ol li{
    width: 100%;
    text-align: center;
    margin: 0.2rem 0.5rem;
    font-size: 1.2em;
    text-transform: uppercase;
  }
  nav ol.open{
    display: flex;
  }
  .nav-item{
    color: white;
  }

  /* Individual article */
  .article-card{
    width: 300px;
  }
  .articleBody{
    font-size: 14px;
    width: auto;
  }
  .form-container{
    margin-bottom: 50px;
  }
  #textfield{
    width: 200px;
    margin: 0 auto;
    border-radius: 5px;
    border-color: #a8b8d0;
  }
  .submit-btn{
    width: 200px;
    margin: 0 auto;
  }
  /* all topics */
  .all-comments{
    width: 300px;

  }
  .all-comments li{
    font-size: 14px;
  }
  /* Article list section */

  .article-card {
    max-width: 350px;
  }
  .cardcontent{
    font-size: 14px;
  }
  .img-card img{
    height: 200px;
  }
  .articeCreatedBy-title{
    font-style: italic;
    font-size: 10px;
  }
  /* All users */
  .loginHeading{
    text-align: center;
    margin-top: 50px;
  }
  .all-users-container{
    grid-template:"amy tom"
                  "paul peter"
                  "gemma jess";
    height: auto;
    top:50px;
    justify-content: center;
    align-items: center;            
  }
  .all-users-container > img{
    width: 100px;
    height: auto;
  }
}